@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title my application</h2>
@*<h3>@ViewBag.Message</h3>*@

<section class="jumbotron text-left">
    <p>
        <h4>
                
            Eliel Dabush, 3rd year Computer Science Student.<br />
            Cloud Computing Principles Course in College Of Management Academic Studies,<br />
            By Roi Yehoshua.<br />

            My Trip Advisor, ASP.NET MVC Responsive Application based on Microsoft Azure Cloud Architecture with CloudService,<br />
            Web Role & Worker Role, <br />
            SQL database,<br />
            BLOBs storing,<br />
            Queues<br />
            and Cache<br />
        </h4>
    </p>
    <p><a class="btn btn-primary" href="/">TripAdvisor &raquo;</a></p>
</section>